@page "{id:int}"
@model DR3_AT.Pages.PacotesTuristicos.DetailsPacoteTuristico

@{
    ViewData["Title"] = "Detalhes do Pacote";
}

<h1>@ViewData["Title"]</h1>

@if (Model.PacoteTuristico != null)
{
    <div>
        <h4>Pacote: @Model.PacoteTuristico.Titulo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Título</dt>
            <dd class="col-sm-9">@Model.PacoteTuristico.Titulo</dd>

            <dt class="col-sm-3">Preço</dt>
            <dd class="col-sm-9">@Model.PacoteTuristico.Preco.ToString("C")</dd>

            <dt class="col-sm-3">Data de Início</dt>
            <dd class="col-sm-9">@Model.PacoteTuristico.DataInicio.ToString("dd/MM/yyyy")</dd>    
            
            <dt class="col-sm-3">Data final</dt>
            <dd class="col-sm-9">@Model.PacoteTuristico.DataFinal.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-3">Capacidade Máxima</dt>
            <dd class="col-sm-9">@Model.PacoteTuristico.CapacidadeMaxima</dd>

            <dt class="col-sm-3">Destinos Incluídos</dt>
            <dd class="col-sm-9">
                @if (Model.PacoteTuristico.Destinos.Any())
                {
                    <div>
                        @foreach (var destino in Model.PacoteTuristico.Destinos)
                        {
                            <span>@destino.Nome; </span>
                        }
                    </div>
                }
                else
                {
                    <span>Nenhum destino associado.</span>
                }
            </dd>
        </dl>
    </div>
}
else
{
    <div class="alert alert-danger">Pacote não encontrado.</div>
}

<div>
    <a asp-page="/Index">Voltar para a Lista</a>
</div>