@page "{id:int}"
@model DR3_AT.Pages.Reservas.DetailsReserva

@{
    ViewData["Title"] = "Detalhes da Reserva";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Reserva != null)
{
    <div>
        <h4>Reserva ID: @Model.Reserva.Id</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">ID da Reserva</dt>
            <dd class="col-sm-9">@Model.Reserva.Id</dd>

            <dt class="col-sm-3">Data da Reserva</dt>
            <dd class="col-sm-9">@Model.Reserva.DataReserva.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-3">Cliente</dt>
            <dd class="col-sm-9">@Model.Reserva.Cliente?.Nome</dd>

            <dt class="col-sm-3">Pacote Turístico</dt>
            <dd class="col-sm-9">@Model.Reserva.PacoteTuristico?.Titulo</dd>
        </dl>
    </div>
} else
{
    <div class="alert alert-danger">Reserva não encontrada.</div>
}


<div>
    <a asp-page="/Index">Voltar para a Lista</a>
</div>