@page "{id:int}"
@model DR3_AT.Pages.Clientes.DetailsCliente

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Cliente != null)
{
    <div>
        <h4>Cliente: @Model.Cliente.Nome</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10">@Model.Cliente.Id</dd>

            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@Model.Cliente.Nome</dd>

            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@Model.Cliente.Email</dd>
        </dl>
    </div>
}
else
{
    <div class="alert alert-danger">Cliente não encontrado.</div>
}

<div>
    <a asp-page="/Index">Voltar</a>
</div>